---
import Base from '../layouts/Base.astro';
import Background from '../components/Background.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
---

<Base>
  <Background />

  <main>
    <!-- 1 -->
    <section id="home" data-section class="section">
      <Hero />
    </section>

    <!-- 2 -->
    <section id="lavori" data-section class="section">
      <Projects />
    </section>

    <!-- 3 -->
    <section id="profilo" data-section class="section">
      <About />
    </section>

    <!-- 4 -->
    <section id="contatti" data-section class="section">
      <Contact />
    </section>
  </main>
</Base>
